@import url("https://fonts.googleapis.com/css?family=Overpass:300,400,700&display=swap");
body {
  font-family: "Overpass", sans-serif;
  font-size: 62.5%;
}

.hero {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.hero nav a img {
  height: 60px;
}
.hero-img {
  max-height: 25rem;
  margin-top: 1rem;
}
.hero ul li a {
  font-size: 1rem;
}
.hero h1 {
  color: #f4f4f4;
  font-size: 2.2rem;
  margin-top: 0.5rem;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: 700;
}
.hero p {
  font-size: 0.8rem;
}
.hero .playstore img {
  width: 12rem;
  height: auto;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .hero {
    height: 65vh;
  }
  .hero h1 {
    font-size: 4rem;
    color: #221b4b;
  }
  .hero-img {
    max-height: 35rem;
  }
}
.section2 {
  height: 20rem;
  background-color: #a0a0a0;
}