footer#contactos
    .container.p-4
        .row
            .col-12.col-md-4.contactos
                h5.mb-3.text-center.text-md-left Contactanos
                form(action="enviar2.php" method="post")
                    input(type="email" placeholder=" @email" required="required" name="email")
                    textarea(name="mensaje" cols="30" rows="10" placeholder=" message" required="required")
                    button(type="submit") Enviar
            .col-12.col-md-4.display-flex.mt-5
                a.footer-link(href="mailto:destinatedata@gmail.com")
                    <i class="far fa-envelope"></i>
                    p destinatedata@gmail.com
                a.footer-link(href="")
                    <i class="fab fa-whatsapp"></i>
                    p +54 9 11 2327-2250
                a.footer-link(href="") 
                    <i class="fab fa-instagram"></i>
                    p @destinydata
                a.footer-link(href="") 
                    <i class="fab fa-linkedin-in"></i>
                    p Destiny Data

            .col-12.col-md-4.display-flex.mt-4.text-justify
                h5.text-center.text-md-left Destiny Data
                p Nuestra visión es llegar a conectar a las personas desde cualquier parte del mundo con solo una aplicación movil, dando la comodidad y facilidad de conectarse a internet en cada viaje que emprendan.