extend componentes/plantilla.pug
block contenido
    .hero.container-fluid.bg-dark
        <nav class="navbar navbar-expand-lg navbar-light">
            .container
                <a class="navbar-brand" href="#">
                    img(src="images/logo01.svg", alt="")
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center"> 
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ml-lg-4">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item ml-lg-4">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item ml-lg-4">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item ml-lg-4">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                    </ul>
                </div>
        </nav>
        .container.hero-contenido
            .row.align-items-center
                .col-12.col-md-6.text-center
                    h1 Destiny Data
                    p.pt-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, ipsum?
                    a(href="https://play.google.com/store/apps/details?id=com.destinyDatas&hl=es_419").playstore
                        img(src="images/google-play-android.png", alt="Play store Android")
                    a(href="#").playstore
                        img(src="images/apple-store.png", alt="Papple store")
                .col-12.col-md-6.text-center
                    img(src="images/perfil.png", alt="").hero-img
                    
    .section2
    .section2
    .section2
    .section2
    .section2