extend componentes/plantilla.pug
block contenido
    include componentes/hero.pug
    section.que-es
        .container
            .row.text-left
                .col-12
                    h2 ¿Que es Destiny Data?
                    p Es una aplicación diseñada especialmente para Proveer Datos a los dispositivos móviles en cualquier lugar donde se encuentren, dando la posibilidad de usar todas las aplicaciones con conexión  a internet (redes sociales, app de negocios, y demas) de los smartphones,  manteniendo la comunicación entre las personas de una manera simple,  económica y segura.
                    h3.h5.mt-4 ¿A quien va dirigida esta Aplicación?
                    p A cualquier persona que tenga la necesidad de viajar fuera de su país y desee la tranquilidad de tener conexión a internet en su dispositivo móvil en cualquier lugar que se encuentre y en todo momento.

    section.servicios
        .container
            .row.text-center
                .col-12
                    h2 Nuestros servicios
                +caja ('icon.svg','Titulo del servicio','orem ipsum dolor sit amet consectetur adipisicing elit. Officiis. sit amet consectetur adipisicing elit. Officiis')
                +caja ('icon.svg','Titulo del servicio','orem ipsum dolor sit amet consectetur adipisicing elit. Officiis. sit amet consectetur adipisicing elit. Officiis')
                +caja ('icon.svg','Titulo del servicio','orem ipsum dolor sit amet consectetur adipisicing elit. Officiis. sit amet consectetur adipisicing elit. Officiis')

    section.beneficios
        .container
            .row.text-center
                .col-12
                    h2 Nuestros servicios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ratione aperiam, minus deserunt obcaecati illum natus fuga nemo explicabo!