extend componentes/plantilla.pug
block contenido
    include componentes/hero.pug
    section.que-es
        .container
            .row.text-left
                .col-12
                    h2 ¿Que es Destiny Data?
                    p Es una aplicación diseñada especialmente para Proveer Datos a los dispositivos móviles en cualquier lugar donde se encuentren, dando la posibilidad de usar todas las aplicaciones con conexión  a internet (redes sociales, app de negocios, y demas) de los smartphones,  manteniendo la comunicación entre las personas de una manera simple,  económica y segura.
                    h3.h5.mt-4 ¿A quien va dirigida esta Aplicación?
                    p A cualquier persona que tenga la necesidad de viajar fuera de su país y desee la tranquilidad de tener conexión a internet en su dispositivo móvil en cualquier lugar que se encuentre y en todo momento.

    section.servicios
        .container
            .row.text-center
                .col-12
                    h2 Nuestros servicios
                +caja ('icon.svg','Titulo del servicio','orem ipsum dolor sit amet consectetur adipisicing elit. Officiis. sit amet consectetur adipisicing elit. Officiis')
                +caja ('icon.svg','Titulo del servicio','orem ipsum dolor sit amet consectetur adipisicing elit. Officiis. sit amet consectetur adipisicing elit. Officiis')
                +caja ('icon.svg','Titulo del servicio','orem ipsum dolor sit amet consectetur adipisicing elit. Officiis. sit amet consectetur adipisicing elit. Officiis')

    section.beneficios
        .container
            .row.text-left
                .col-12.col-lg-6.text-center
                    img(src="images/hero-img.png" alt="front-aca-pagos").img-front
                .col-12.col-lg-6.pt-4
                    h2 Beneficios de usar <span> Destiny Data </span>
                    .text-justify.text-md-left
                        p  Libertad absoluta a la hora de conectarse a internet desde cualquier país con el dispositivo móvil sin la necesidad de cambiar de tarjeta SIM, numero  telefónico ni sincronizar contactos.
                        p Poder estar actualizado en las redes sociales, usar todas tus aplicaciones que requieran conexión a internet  sin importar el lugar que te encuentres.
                        p Llegar a tu destino y poder disfrutar de este servicio al momento de bajarte del avión.
                        p Controlar  los gastos a la hora de navegar.
                        p Todo esto de una manera simple y segura.
                        +playstore()

