footer {
    background-color: $color-oscuro;
 .contactos form{
     display: flex;
     flex-direction: column;

     input{
         background-color: $color-claro;
         margin-bottom: .5rem;
         height: 2rem;
         border-radius: .3rem;
         border: none;
         transition: .5s;
     }
     textarea{
        background-color: $color-claro;
        border-radius: .3rem;
        border: none;
     }
  
     textarea:focus, input:focus,{
        background-color: $color-blanco;
        border-color: $color-secundario;
        outline: 0 none; 
        -webkit-box-shadow: -12px -5px 5px -8px rgba(0,0,0,0.17); -moz-box-shadow: -12px -5px 5px -8px rgba(0,0,0,0.17); box-shadow: -12px -5px 5px -8px rgba(0,0,0,0.17);
    }
    button{
        width: 5rem;
        height: 2rem;
        margin-top: 1rem;
        border-radius: .5rem;
        border: none;
        
    }
    button:hover{
        background-color: $color-principal;
    }
 }
 .display-flex{
     display: flex;
     flex-direction: column;

     a{
       display: flex;
       font-size: 1.2rem;
       color: $color-negro;
       font-weight: 200;
       transition: .2s;
       i{
           margin-right: 1rem;
       }
     }
     a:hover{
         text-decoration: none;
         color: $color-principal;
     }
 }
    p{
        @include parrafo;
    }
}