@import url('https://fonts.googleapis.com/css?family=Overpass:200,400,700&display=swap');
html{
  scroll-behavior: smooth;

}


body{
    font-family: $funte-1;
    font-size: 62.5%;
    background-color: $color-blanco;
}

//____TAMANO DE IMAGENES DE PANTALLA_____
.img-front{
    max-height: 25rem;
}
@media (min-width:768px){
    .img-front{
        max-height: 35rem;
    }  
  }

  //____BOTONES DE APP STORE_____
  .playstore img{
    width: 8.5rem;
    margin: 2rem .2rem;
  }
  @media (min-width:768px){
    .playstore img{
        width: 12rem;
        margin: 2rem .2rem;
      } 
  }

