
.hero{
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-attachment:  fixed;
    background-position: center ;
    background-size: cover;
    height: 100%;

    nav a img {
      height: 60px;
    }
    //logo
   /*  &-img{
      max-height: 25rem;
      margin-top: 1rem;
    }   */
    //enlaces
    ul li a{
      font-size: 1rem;
    }
    //titulo
    h1{
        color: $color-secundario;
        font-size: 2.2rem;
        font-weight: 400;
        text-transform: uppercase;
        font-weight: 700;
    }
    //parrafo
    p {
      font-size: .8rem;
    }
  }
  
  @media (min-width:768px){
    .hero{
      height: 65vh;
      h1{
        font-size: 4rem;
        color: $color-secundario;
      }
      p{
        font-size: 1rem;
        font-weight: 200;
      }
    }
  }
  
  /* _____GRID AREA EN HERO_____*/
  .hero-contenido{
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 5rem 1fr 6rem;
    grid-template-areas: 
    "titulo"
    "parrafo"
    "imagen"
    "botones"
    ;
  }
  
  .hero-titulo{
    grid-area: titulo;
    margin-top: auto;
  }
  .hero-parrafo{
    grid-area: parrafo;
  }
  .hero-botones{
    grid-area: botones;
  }
  .hero-imagen{
    grid-area: imagen;
  }

  @media (min-width:767px){
    .hero-contenido{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 5rem 1fr ;
      grid-template-areas: 
      "titulo imagen"
      "parrafo imagen"
      " botones imagen"
      ;
    }
  }

  


  //____GALERIA____
  .galeria{
    display: flex;
    flex-wrap: wrap;
    img{
      max-height: 20rem;
      margin: 1rem 1rem;
    }
}