//________ SECCION QUE ES________
.que-es{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $color-blanco;
    h2{
        margin-bottom: 1rem;
    }
    p {
        font-size: 1rem;
        font-weight: 200;
        text-align: justify;
    }
}
@media (min-width: 768px){
    .que-es{
        padding-top: 7rem;
    }
}
//________SERVICIOS________
.servicios{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $color-claro;
    p {
        font-size: 1rem;
        font-weight: 200;
      
    }
    &-cajas {
        img{
        max-width: 5rem;
        margin: 1rem auto;
        }
        h3 {
            font-size: 1.2rem;
        }
        p {
            font-weight: 200;
            font-size: .8rem;
        }
    }
}
// tablet y desktop
@media (min-width:768px){
    .servicios{
        padding-bottom: 4rem;
        p {
            font-size: 1.2rem;
        }
        &-cajas {
            margin-top: 2rem;
            p {

                font-size: 1rem;
            }
        }
    }
    
    
}

//________SERVICIOS________