
//________ SECCION QUE ES________

.que-es{
    @include padding-titulo;
    h2{
        margin-bottom: 1rem;
    }
    p {
        font-size: 1rem;
        font-weight: 200;
        text-align: justify;
    }
}
//Tablet y desktops
@media (min-width: 768px){
    .que-es{
        padding-top: 7rem;
    }
}
//________SERVICIOS________
.servicios{
    @include padding-titulo;
    background-color: $color-claro;
    p {
        @include parrafo;
        
    }
    &-cajas {
        img{
            max-width: 7rem;
            margin: 1rem auto;
        }
        h3 {
            font-size: 1.2rem;
        }
        p {
            @include parrafo;
        }
    }
}
// tablet y desktop
@media (min-width:768px){
    .servicios{
        padding-bottom: 4rem;
        p {
            font-size: 1.2rem;
        }
        &-cajas {
            margin-top: 2rem;
            p {
                @include parrafo;
            }
        }
    }
}

//________BENEFICIOS________  
.beneficios {
    @include padding-titulo;
    h2{
        padding-bottom: 1rem;
        font-weight: 700;
    }
    p {
        @include parrafo;
    }
    span{
        color: $color-principal;
    }
}
